<div class="main-layout">
    <aside class="sidebar">
      <div class="profile">
        <img [src]="user?.['picture']" alt="Foto de Perfil" />
        <h3>{{ user?.['name'] }}</h3>
        <p>{{ user?.['email'] }}</p>
      </div>
  
      <nav class="menu">
        <a routerLink="/dashboard" routerLinkActive="active">
          <span>📊 Dashboard</span>
        </a>
        <a routerLink="/perfil" routerLinkActive="active">
          <span>👤 Perfil</span>
        </a>
      </nav>
  
      <button class="logout-btn" (click)="logout()">Sair</button>
    </aside>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  