<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="profile" *ngIf="!isCollapsed">
    <img [src]="picture">
    <div class="profile-text">
      <h3>Olá, {{ name }}!</h3>
      <h6>{{ email }}</h6>
    </div>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" (click)="toggleSidebar()" routerLinkActive="active">
      📊 <span *ngIf="!isCollapsed">Dashboard</span>
    </a>
    <a routerLink="/perfil" (click)="toggleSidebar()" routerLinkActive="active">
      👤 <span *ngIf="!isCollapsed">Perfil</span>
    </a>
  </nav>

  <button class="logout-btn" *ngIf="!isCollapsed" (click)="logout()">Sair</button>
</aside>